*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.box{
    width: 50%;
    height: 95%;
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
    /* background: linear-gradient(75.7deg, rgb(34, 126, 34) 3.8%, rgb(99, 162, 17) 87.1%); */
    /* background: linear-gradient(109.6deg, rgb(5, 85, 84) 11.2%, rgb(64, 224, 208) 91.1%); */

margin-top: 20px;
margin-left: 250px;
border: 1px solid black;

}
.box img{
    width: 150px;
    height: 150px;
    position: absolute;
top: 280px;
right: 260px;
border: 2px solid white;
border-radius: 15px;
box-shadow: 10px 5px 5px black;
}
.box h1{
    position: absolute;
    top: 17%;   

    right: 30%;
    font-size: 50px;

    /* color: white; */
    /* font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal; */
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.box p{
    position: absolute;
    top: 55%;
    left: 29%;
    font-size: 15px;

    /* color: white;  */
     font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal; */
}
.box button{
    position: absolute;
    top: 85%;
    left: 43%;
    font-size: 15px;

    /* color: white;  */
     font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: radial-gradient(circle at 10% 20%, rgb(85, 149, 27) 0.1%, rgb(183, 219, 87) 90%);


  border: none;
  color: white;
  padding: 5px;
  /* font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal; */
}